*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: vazir;
}

#header{
    background-color: #ccc;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.logo img{
    width: 60px;
    
    
}
#nav{
float: left;
}
#nav ul li{
  display: inline-block;

}
#nav ul li a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 20px;
}

.content{
    width: 1200px;
    margin: 10px auto;
    display: flex;
}

.article{
    background-color: royalblue;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    flex-basis: 80%;
    margin: 5px;

}
.sidebar{
    background-color: seagreen;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    flex-basis: 20%;
    margin: 5px;
}
/* responsiv styles */

@media screen and (max-width: 896px){
    .content{
        width: 100%;
        flex-direction: column;
    }

    .windows{
        width: 100%;
    }
    #footer{
        flex-direction: column;
    }
    
}

.windows{
    color: #fff;
    width: 1200px;
    height: 300px;
    margin: 10px auto;
    display: flex;
}
.windows .right .box{
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    flex-basis: 100%;

}

.windows .right{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.windows .left .box{
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    margin: 5px;
}
.windows .left{
    flex-grow: 4;
}

#footer{
    background-color: #ccc;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: space-around;
    margin-top:20px; ;
    
    
}
#footer .item{
    background-color: #333;
    
    flex-basis: 20%;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}
